.table {
   font-family: "Lucida Sans Unicode", "Lucida Grange", Sans-Serif;
   font-size: 14px;
   width: 500px; 

   background-color: #9ddaedfa;
    border-collapse: collapse;
   text-align: left;
 }
    
 
 .table th {
  font-weight: normal;
    background-color: #a2d2e0fa;
    padding: 10px 8px; 
    border: 2px solid white;
   color: white;
text-align: center;
  }
 .table td {
 padding: 9px 8px; 
background-color: #cbe9f2fa; 
color: black;
transition: .3s linear;
border: 2px solid white;
text-align: center;

  }
tr: hover td {
color: black;
  }

str-bg-peach {
    background-color: #f3bb86;
    width: 100%;
    height: 100%;
}
.form-bg-white {
    background-color: white;
    border-radius: 25px;
    position: fixed;
    top: 15%;
    left: 35%;
    padding: 30px;
    width: 25%;
    height: 65%;
}
.form-title {
    text-align: left;
    font-family: cursive;
    font-size: x-large;
}
.input-username {
    background-color: rgb(217, 231, 243);
    border: 1px solid rgb(203, 223, 240);
    border-radius: 10px;
    width: 100%;
    height: 35px;
}
.input-email {
    background-color: rgb(217, 231, 243);
    border: 1px solid rgb(203, 223, 240);
    border-radius: 10px;
    width: 100%;
    height: 35px;
}
.input-ms {
    background-color: rgb(217, 231, 243);
    border: 1px solid rgb(203, 223, 240);
    border-radius: 10px;
    width: 100%;
    height: 150px;
    justify-content:end;
}
.btn {
    padding: 15px;
    border: 1px solid rgb(238, 115, 71);
    border-radius: 10px;
    cursor: pointer;
    text-transform:uppercase;
    color: white;
    background-color: #f3bb86;
    width: 100%;