body, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;  
}
body{
    background-color: rgb(162, 204, 233);
}

.bg-dark {
    background-color: rgb(143, 122, 236);
    text-align: center;
    font-size: 22px;
}

.text-white {
    color: rgb(241, 237, 237);
}
.text-b {
    color: rgb(116, 80, 237);
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3rem;
}

.mt-0 {
    margin: 0;
}

.mt-1 {
    margin: 1rem;
}

.mt-2 {
    margin: 1.5rem;
}

.container {
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-link {
    padding: 0.5rem 0.5rem;
    color: rgba(186, 63, 235, 0.55);
    text-decoration: none;

}
.nav-link1 {
    padding: 0.5rem 1rem;
    color: rgb(148, 8, 31);
    text-decoration: none;
}

.nav-link.active {
    color: rgba(199, 12, 12, 0.9);
}

.bg-light {
    background-color: rgb(240, 194, 221);
}

.navbar {
    height: 50px;
    display: flex;
}

.collapse {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar {
    width: 40%;
    height: 320px;
    margin-right: 4px;
}

.list{
    list-style: none;
    padding: 0;
}
 .list li{
    padding: 10px 30px;
    background:rgb(224, 134, 194);
    color: rgb(180, 12, 12);
    font-size: 25px;
    margin-bottom: 5px;
}
    .list li:first-child{
        border-bottom: none;
}
.post-body{
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}
article {
    border: 1px solid #333;
    border-radius: 0px;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(236, 186, 214);
    color: #520c03;
    margin-left: 40px;
    
}
article img {
    max-width: 250px;
    margin-right: 10px;
}
.post-body {
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
}
.post-header{
    margin-top: 7px;
    font-size: 25px;
    color: rgb(153, 8, 211);
}

.post-meta {
    display: flex;
    font-size: 15px;
    color: rgb(94, 9, 9);
}
}

.post-meta > * {
    margin: 0px;
    margin-right: 25px;
}

.post-meta span {
    font-style: italic;
}
.b{
    width: 70%;
    border: 1px solid;
    border-color: rgb(12, 12, 12);
    margin: 1em;
    background-color: rgb(143, 122, 236);
    color: rgb(88, 5, 9);
    margin-right: 25px;
                
}
.a{
    display: flex;
    color: rgb(77, 3, 3);
    text-align: center;
    max-width: 1200px;
    width: 90%;

}
    

.btn{
    background: none;
   */* color:#333*/*
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.btn-sm{
    padding: 0.2rem 0.75rem;
}
.btn-light{
    background-color: rgb(232, 32, 155);
}
.btn-dark{
    background-color: rgb(219, 125, 175);
    color:rgb(148, 8, 31)
}
.btn-primary{
    background-color: crimson;
}
.post-title, .post-country {
    color:rgb(139, 51, 130);
}
.post-title:visited, .post-country:visited{
    color:rgb(173, 9, 162);
}
.raginate{
    display:flex;
    list-style: none;

}
.raginate-item {
    border: 1px solid rgb(173, 9, 162);
    margin:2px;
   background-color: rgb(173, 9, 162);
   transition: 0.8s;


}
.raginate-item a {
    padding: 0.75rem;
 
}
.raginate a, raginate a:visited{
    color:rgb(238, 225, 236);
}
.raginate a{
    text-decoration: none;
}
.raginate-item:hover{
    background-color: rgb(159, 200, 232);

}
.raginate-item:hover a {
    color:rgb(173, 9, 162);
}
.justify-content-center{
    justify-content: center;
}    